*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

  }
  

.backgroundHeader {
    width: vw;
    height: 115vh;
    position: absolute;
    z-index: -1;
}

h1 {
    font-family: cursive;
    font-size: 30px;
    color: #FF8A00;

}

h2 {
    font-size: 3rem;
    position: relative;
}

nav {
    display: flex;
}

nav img {
    width: 35%;
}

.containerLogo {
    display: flex;
    align-items: center;
    align-content: center;
}

li {
    font-size: 1.3rem;
    display: grid;
}

a:hover {
    color: #0803225e;
}

a{
    text-decoration: none;
    color: inherit;
    margin-left: 7.3%;
    margin-right: 3.4%;
    margin-top: 2.5%;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FF8A00;
    font-size: 3rem;
}

.imageHeader {
    width: 19%;
    height: 250px;
    border-radius: 50px;
    margin-left: 4.3%; 
    margin-top: 4%;
    transition: transform 0.3s ease-in-out; 
}

.imageDrink {
    width: 16%;
    height: 290px;
    margin-left: 2.3%; 
    margin-top: 4%;
    transition: transform 0.3s ease-in-out; 
}

.imageHeader:hover {
    transform: scale(1.1); 
}

.imageDrink:hover {
    transform: scale(1.1); 
}

.containerHead {
    display: flex;
    align-items: center; 

}

.imgMain {
    width: 27%;
    max-width: 100%;
    margin-left: 25%;
    margin-top: 5%;
}

main p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FF8A00;
    font-size: 2.3rem;
}

.title {
    font-size: 4rem;
    font-style: bold;
    color: #000;
    margin-left: 5%;
}

.titlePizza {
    font-weight: bold;
    color: #d97706; 
}

.containerSubtitle {
    margin-top: 6%;
    display: flex;
    align-items: center;

}

.containerSubtitle2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    white-space: nowrap;
   margin-left: 4%;
   margin-right: 3%FF;

}

.containerFavorite {
    gap: 20px;
    padding-bottom: 20px; 
    border-bottom: 2px solid orange; 
}

.logoMenu {
   width: 10%;
}

aside {
    background-color: rgb(247, 215, 174);
    
}

.containerServices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    max-width: 90%;
    margin-left: 5%;
}
.card {
    background-color: #fbe5c0;
    border: 2px solid orange;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 19%;
}

.titleCard {
    font-size: 3rem;
    color: #d97706;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30%;
}

.subtitleCard {
    font-size: 1.3rem;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10%;
    margin-bottom: 17%;
}

footer {
    background-color: #d97706;
}

.containerFooter {
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: left;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato p {
font-size: 3rem;
color: white;
margin-top: 3%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.liFooter {
    color: white;
    font-size: 2rem;
}